<div style="text-align: center;" class="p-3 mb-2 bg-dark text-white">
    <h1 class="text-muted" >Welcome to Exam Page</h1>
</div>




<div  style="padding :100px; background-color:darkgray;">

    <input  class="btn btn-secondary" style="border: hidden; background-color: darkgray;" type="button" (click)="getStart()" [disabled] = "strtBtn"  [value] = "strtTxt">
<div >



    <form  style="padding-right :50px; background-color:darkgray;" #myForm="ngForm" (ngSubmit)="submitForm(myForm.value)" novalidate>
        <div>
        <ul class="text-lg-start"  *ngFor="let qs of eachQuestonArray">
            <li>
                <h2>{{qs.question}}</h2>
            </li>
            <ol>
                <li>
                    <input type="radio" value={{qs.a}} name="answer" ngModel required>
                    {{qs.a}}
                
                </li>
             <li>
                <input  type="radio" class="custom-control-input" value={{qs.b}} name="answer" ngModel required>
                 {{qs.b}}
             
             </li>
           <li>
            <input  type="radio" class="custom-control-input" value={{qs.c}} name="answer" ngModel required>
            {{qs.c}}
         
           </li>
                
           <li>
            <input id="female" type="radio" class="custom-control-input" value={{qs.d}} name="answer" ngModel required>
            {{qs.d}}
           </li>          
            </ol>
        </ul>   
          </div>
        <input class="btn btn-secondary" style="border: hidden; background-color:darkgrey;" type="submit" [value]="nxt" [disabled]="!myForm.valid">
     </form>



</div>


<hr>

<div style="padding :100px; background-color:darkgray;">
   <h2>{{finalResultMSG}}</h2>
    <ul *ngFor="let dt of outPutList">
        <li> <h2>Question Missed:</h2> 
            <h5>{{dt.question}}</h5> </li>
        
            <ul>
                <li>
                    <h3>You Answered</h3>
                    <h3>{{dt.userAns}}</h3>  
                    
                </li>
                <li>
                    <h4>Correct Answer </h4>
                    <h4>{{dt.correctAns}}</h4>
                </li>
            </ul>
        </ul>
    
    <input class="btn btn-secondary" style="border: hidden; background-color: darkgray;"  type="button" [disabled]="submitLock"   [value] = "submitTxt"     (click)="submitAll()" > 
</div> 

</div>